* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;  color: #000;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0b051d;
}

.game-content {
  background-color: #fff;
  width: 500px;
  min-height: 300px;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.player-name, .team-name{
  font-size: 1.5rem!important;
  text-align: center;
}

.shadow__btn {
  padding: 15px 20px;
  border: none;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  transition: 0.5s;
  transition-property: box-shadow;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;  outline: none;
  width: 100%;
}

.shadow__btn {
  background: rgb(0, 140, 255);
  box-shadow: 0 0 25px rgb(0, 140, 255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255),
    0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
}


@media(max-width:550px){
  .game-content {
    width: 400px;
  }
}

@media(max-width:430px){
  .game-content {
    width: 300px;
  }
}